body {
  font-family: "robotoregular", "Poppins", Arial, sans-serif;
}

/* Leadership Section */

.leadership-section {
  padding: 60px 0;
}

.leadership-section h1 {
  color: #013b81;
  font-weight: 600;
}

.leadership-section p {
  max-width: 900px;
  margin: 0 auto;
}

.custom-card {
  margin-top: 12px;
  transition: all 1s ease, box-shadow 1s ease;
}

#leader-img,
#leader-img1,
#leader-img2 {
  position: absolute;
}

.custom-card:hover {
  transform: scale(1.2);
  position: relative;
}

.custom-card:hover #leader-img {
  width: 100%;
  height: 30rem;
  top: -8%;
  content: url("./assets/file\ 2.png");
}

.custom-card:hover #leader-img1 {
  width: 100%;
  height: 30rem;
  top: -8%;
  left: 50%;

  content: url("./assets/Img.png");
}

.custom-card:hover #leader-img2 {
  width: 100%;
  height: 30rem;
  top: -8%;
  left: 60%;

  content: url("./assets/Img\ \(1\).png");
}

.custom-card:hover .card-header {
  position: unset;
}

.card-header {
  position: relative;
  /* width: 100%; */
  height: 30rem;
  border: 16px solid #013b81;
  padding: 0;
  overflow: hidden;
  border-bottom: none;
}

.card-header img {
  /* position: absolute; */
  /* top: 60%;
    left: 55%; */
  /* width: 100%;
    /* height: 100%; */
  object-fit: cover;
  /* aspect-ratio: 3 / 2; */
  height: 26rem;
  width: 26rem;
  transform: translate(-50%, 14%);
}

.card-body {
  padding: 0;
  background-color: #013b81;
  color: white;
}

.custom-card:hover .card-body {
  border-radius: 0 0 12px 12px;
}

.personal-info {
  padding: 15px;
}

.card-title {
  font-weight: bold;
  margin: 0;
}

.experience-info {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 10px;
}

a.text-decoration-none {
  color: #013b81;
  font-weight: bold;
  background-color: #fff;
  /* White background for the experience section */
}

a.text-decoration-none:hover {
  color: #0d4fad;
}

.btn-primary {
  background-color: #013b81;
  border: none;
}

.btn-primary:hover {
  background-color: #0d4fad;
}

/* Team Section */

.team-section {
  padding-bottom: 60px;
}

.team-section h1 {
  color: #013b81;
  font-weight: 600;
}

.team-section p {
  color: #666;
  max-width: 1100px;
  margin: 0 auto;
}

.team-members {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}

.team-member {
  text-align: center;
}

.team-member img {
  width: auto !important;
  height: 136px !important;
}

.team-member .amit-g-img,
.hemang-b-img .satish-v {
  height: 160px;
}

.team-member p {
  color: #013b81;
  font-weight: 500;
}

.team-member-info-card {
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 24rem;
  transition: all 1s ease;
  transform: translateY(10px);
}

.team-member-info-card .team-member-img {
  position: absolute;
  top: -64%;
  border-radius: 50%;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-member:hover {
  display: none;
}

.team-member:hover + .team-member-info-card {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

.team-member-img img {
  border: 4px white solid;
  width: 80px;
}

.team-member-info {
  background-color: #b6bdd1;
  border-radius: 8px;
  font-weight: 600;
  padding: 20px 16px;
  width: 100%;
}

.team-member-info .heading {
  color: #00467f;
  font-weight: 700;
}

.team-member-info-card .linkedin-img {
  position: absolute;
  bottom: -34%;
  border-radius: 50%;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkedin-img img {
}

.info-container {
  padding: 96px;
}

.leader-intro-img-container {
  background: linear-gradient(to bottom, #00467f 0%, #007ee5 100%);
  border-radius: 0 150px 0 0;
  height: 45rem;
  overflow: hidden;
  padding-right: 16rem;
  display: flex;
}

.leader-intro-img-container .leader-intro-img {
  /* position: relative;
  right: 12%; */
  max-width: none !important;
}

.leader-intro-info-container {
  width: 100%;
}

.leader-intro-info-container .leader-name {
  color: #62adea;
}

.leader-intro-info-container .leader-designation {
  color: #014884;
}

.leader-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-weight: 500;
  row-gap: 32px;
  margin: 32px 0;
}

.leader-info div {
  max-width: 800px;
}

.centered-border {
  position: relative;
  display: inline-block;
  padding-bottom: 12px;
}

.centered-border::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 20%;
  border-bottom: 4px solid orange;
}

.team-member-img .satish-img {
  position: absolute;
  top: 1rem;
  border-radius: 50%;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-member-info-card .satish-lnkdin {
  bottom: -28%;
  position: absolute;
  border-radius: 50%;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.members {
  height: 10rem;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .leaders {
    row-gap: 6rem !important;
  }

  .card-header {
    height: 21rem;
    width: 100%;
    /* border: 0.5rem solid #013b81; */
  }

  .card-header img {
    height: 16rem;
    width: 19rem;
    transform: translate(-50%, 22%);
  }

  .custom-card:hover #leader-img {
    width: 100%;
    height: 22rem;
    top: -14%;
  }

  .custom-card:hover #leader-img1 {
    width: 100%;
    height: 26rem;
    top: -26%;
    left: 50%;
    content: url("./assets/Img.png");
  }

  .custom-card:hover #leader-img2 {
    width: 100%;
    height: 24rem;
    top: -20%;
    left: 60%;
    content: url("./assets/Img\ \(1\).png");
  }

  .personal-info h4 {
    font-size: 16px;
  }

  .personal-info p {
    font-size: 14px;
  }

  .experience-info h4 {
    font-size: 16px;
  }
  a {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .leaders {
    flex-wrap: wrap;
  }
}
